
.openerp .oe_gantt {
    min-height: 500px;
}

.openerp .oe_gantt .oe_gantt_button_create {
    position: absolute;
    top: 5px;
    left: 8.3%;
    color: #FFFFFF;
    background-color: #337ab7;
    border-color: #2d6da3;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.openerp .oe_gantt .oe_gantt_button_create:hover {
	background-color: #19507E;
	border.color: #19507E;
}
@media print {
    .oe_gantt button {
        display: none;
    }
    .oe_gantt > table > tbody > tr > td > div > div {
        overflow: hidden !important;
    }
}